*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(194, 155, 229);
}
main{
    background-color:rgba(255, 255, 255, 0.925);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3ox 3px 5px rgba(8, 3, 3, 0.473);
}